# Health files
CODEOWNERS
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
SUPPORT.md
LICENSE
NOTICE
CHANGELOG.md
RELEASING.md
README.md

# GitHub templates
.github/ISSUE_TEMPLATE/*
.github/PULL_REQUEST_TEMPLATE.md
.github/dependabot.yml
.github/stale.yml
.github/FUNDING.yml
.github/workflows/*

# Editor config
.editorconfig

# .NET
*.csproj dotnet

# Specification files (user-provided, copyright-safe)
specifications/
